@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* Global styles */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  max-width: 90%; /* Adjust the container width for mobile devices */
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; /* Remove the fixed height for better responsiveness */
  max-height: 80vh; /* Set a maximum height to prevent excessive scrolling */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

  h1 {
    text-align: center;
    margin-top: 20px; /* Add the margin back */
    margin-bottom: 5px;
    font-size: 32px; /* Increase the font size for better visibility */
  }
  
  .streak-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative; 
  }

  .streak-number {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
  }

  .streak-number.streak-fire-orange {
    background-color: orange;
  }

  .streak-number.streak-fire-red {
    background-color: red;
  }
  
  .streak-number.streak-fire-blue {
    background-color: blue;
  }
  
  
  .streak-box {
    text-align: center;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
  }
  
  .streak-box h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .streak-box span {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  /* Featured Stat styles */
  #featuredStatContainer {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #444;
    border-radius: 5px;
    font-size: 20px;
    text-align: center; /* Center the text in the featured stat container */
  }
  
  #featuredStatContainer p {
    margin: 5px 0;
  }
  
  /* Button styles */
  #buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Selected state for the buttons */
  button.selected {
    background-color: #ffd54f;
    color: #000;
  }
  
  #confirm-button {
    background-color: #4caf50;
  }
  
  #confirm-button:hover {
    background-color: #45a049;
  }
  
  /* Streak and High Score styles */
  #streakContainer h3 {
    text-align: center;
    margin-top: 0px; /* Adjust the top margin to reduce space */
    margin-bottom: 0px; /* Adjust the bottom margin to reduce space */    font-size: 25px;
    font-weight: bold;
  }
  
  /* Confirmed Pick styles */
  #confirmed-pick {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px; /* Increase the bottom margin to create more space */
  }
  
  /* Error message styles */
  .error-message {
    text-align: center;
    color: red;
    margin-bottom: 20px;
  }
  
  /* Adjustments for better spacing */
  #highScore {
    margin-bottom: 5px;
  }
  

